<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.online.shop.AndroidMapper">
<insert id="insert-reply-android">
insert into and_reply(p_no, writer, cont)
values(#{p_no}, #{writer}, #{cont}) 
</insert>

<select id="select-reply-android" resultType="com.online.shop.domain.AndroidVO">
select * from and_reply where p_no = #{p_no} order by r_no desc
</select>

<select id="select-rno-android" resultType="Integer">
select max(r_no) from and_reply where p_no = #{p_no}
</select>

<select id="select-reply-updated" resultType="com.online.shop.domain.AndroidVO">
select writer, cont from and_reply where r_no = #{r_no}
</select>

</mapper>